<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>7h3_5h0p</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="page">

    <div class = "header">
        <span class="header__name">7h3 5h0p</span>
        <div class="header__logo">
            <img class="logo" src="img/oggetto_logo.svg" alt="Логотип">
        </div>
        <span class="header__phone">+7 (812) 2•12•85•06</span>
    </div>

    <div class="navigation">
        <div class="navigation__content">
            <div class="navigation__link">
                <ul class="navigation__list">
                    <% const navigation = ['LISP', 'OCaml', 'JavaScript', 'Python', 'PHP']; %>
                    <% navigation.forEach(function(item, index) { %>
                    <li class="navigation__item">
                        <a href="#" class="navigation__link <% if(index == 0) { %>navigation__link_active<% } %>"><%= item; %></a>
                    </li>
                    <% }); %>
                </ul>
            </div>
            <input class="navigation__search" name="search" placeholder="">
        </div>
    </div>

    <div class="content">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <% const breadcrumbs = ['LISP', '/', 'Одежда', '/', 'Футболки']; %>
                <% breadcrumbs.forEach(function(item, index) { %>
                <li class="breadcrumbs__item">
                    <% if (index % 2 == 0) { %>
                    <a href="#" class="breadcrumbs__link <% if(index == 4) { %>breadcrumbs__link_active<% } %>"><%= item; %></a>
                    <% } else {%>
                    <span class="breadcrumbs__link_separator">/</span>
                    <% } %>
                </li>
                <% }); %>
            </ul>
        </div>

        <div class="product">
            <img class="product__pic" src="img/tshirt_white.jpg" alt="Белая футболка">
            <div class="product__info">
                <div class="product__text">
                    <h2 class="product__title">Футболка Alien technology</h2>
                    <p class="product__description">Состав: 100% хлопок, динамическая типизация, польская нотация. Производство: Россия.</p>
                    <div class="product__price">1500₽</div>
                </div>
                <div class="product__size size">
                    <div class="size__text">Размер:</div>
                    <div class="size__icon">
                        <% const size = ['S', 'M', 'L']; %>
                        <% size.forEach(function(item, index) { %>

                        <p class="size__item size__item_<%= item.toLowerCase(); %> <% if (index == 1) { %>size__item_active<% }%>">
                            <input class="size__radio" name="size" type="radio" value="size__item_<%= item.toLowerCase(); %>" <% if (index == 1) { %>checked <% }%> ><%= item; %>
                        </p>
                        <% }); %>
                    </div>
                </div>
                <div class="product__color color">
                    <div class="color__text">Цвет:</div>

                    <div class="color__icon">
                        <% const color = ['white', 'yellow', 'green']; %>
                        <% color.forEach(function(item, index) { %>

                        <p class="color__item color__item_<%= item; %> <% if (index == 0) { %>color__item_active<% }%>">
                            <input class="color__radio" name="color" type="radio" value="color__item_<%= item; %>" <% if (index == 0) { %>checked <% }%> >
                        </p>
                        <% }); %>
                    </div>
                </div>
                <div class="product__buy">
                    <button class="button__buy">Купить</button>
                    <div class="wish-list">
                        <div class="wish-list__heart"><img class="heart heart-like" src="img/heart-button.svg" alt="Лайк"></div>
                        <div class="wish-list__item"><a href="#" class="wish-list__link">Отложить на потом</a></div>
                    </div>
                </div>
                </div>
            </div>
        </div>

    <div class="footer">
            <div class="footer__service h-service">
                <div class="service">
                    <div class="service__info">
                        <h4 class="service__text">Сервис и поддержка</h4>
                        <div class="service__link">
                            <ul class="service__list">
                                <% const service1 = ['Как сделать заказ', 'Возврат товара', 'Публичная оферта', 'Доставка']; %>
                                <% service1.forEach(function(item, index) { %>
                                <li class="service__item">
                                    <a href="#" class="service__link"><%= item; %></a>
                                </li>
                                <% }); %>
                            </ul>
                            <ul class="service__list">
                                <% const service2 = ['Способы оплаты', 'Правила продажи', 'Возврат денежных средств', 'Вопросы и ответы']; %>
                                <% service2.forEach(function(item, index) { %>
                                <li class="service__item">
                                    <a href="#" class="service__link"><%= item; %></a>
                                </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                    <div class="service__info">
                        <h4 class="service__text">О компании</h4>
                        <div class="service__link">

                            <ul class="service__list">
                                <% const service3 = ['О нас', 'Контакты', 'Вакансии', 'Партнерам']; %>
                                <% service3.forEach(function(item, index) { %>
                                <li class="service__item">
                                    <a href="#" class="service__link"><%= item; %></a>
                                </li>
                                <% }); %>
                            </ul>

                            <ul class="service__list service__list_last-col">

                                <% const service4 = ['Сертификаты', 'Преимущества', 'Наши скидки']; %>
                                <% service4.forEach(function(item, index) { %>
                                <li class="service__item">
                                    <a href="#" class="service__link"><%= item; %></a>
                                </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="service">
                    <div class="footer__bonus bonus">
                        <ul class="bonus__list">
                            <li class="bonus__item"><img class="bonus__delivery" src="img/delivery.svg" alt="Доставка">бесплантая доставка от 4000р
                            <li class="bonus__item"><img class="bonus__heart" src="img/heart.svg" alt="Лайк">пробники в подарок при каждой покупке
                            <li class="bonus__item"><img class="bonus__cup" src="img/cup.svg" alt="Кубок">акции и подарки за покупку
                        </ul>
                    </div>
                    <div class="footer__references references">
                        <ul class="references__list">
                            <li class="references__item"><a href="#" class="references__link"><img class="references__facebook" src="img/facebook.svg" alt="facebook"></a>
                            <li class="references__item"><a href="#" class="references__link"><img class="references__twitter" src="img/twitter.svg" alt="twitter"></a>
                            <li class="references__item"><a href="#" class="references__link"><img class="references__instagram" src="img/instagram.svg" alt="instagram"></a>
                        </ul>
                    </div>
                </div>
        </div>
        <hr class="line">
        <div class="copyright">
            <p class="copyright__text">2005-2017 © 7h35h0p.ru — модный интернет-магазин одежды, обуви и аксессуаров.</p>
            <p class="copyright__text">Все права защищены. Доставка по всей России!</p>
        </div>
    </div>
</div>

<script src="js/scripts.js"></script>

</body>
</html>
